*/node_modules
__pycache__/
*.pyc
*.pyo
**/migrations/
*.png
load_test.js
.env
package-lock.json
.env.example
*/dist
*/build
spring-api/demo/target
spring-api/demo/target/*
!.mvn/wrapper/maven-wrapper.jar
spring-api/demo/.mvn/wrapper/maven-wrapper.properties